body{
  margin: 0;
  height: 100vh;

}

.parent{
  display: flex;
height: 100vh;
border: 10px solid pink;
  margin: 0;

flex-flow: column wrap;

}
.one{
  background-color: yellow;
}
.two{
  background-color: blue;
}
.three{
  background-color: green;
}
.four{
  background-color: red;
}
.item{
  color: white;
  font-size: 40px;
  width: 100px;
  height: 100px;
  margin: 0;
}
