h1 {
    margin: 0;
    padding: 0;
}


.fluid {

    background-image: url("img/pivdennoye.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    filter: sepia(80%);
    position: absolute;
}

.fluid-1 {

    background-image: url("img/pivdennoye.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;

}

.bw-fluid {
    background-image: url("img/pivdennoye.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;

}

.container {

    height: 100%;
    margin: auto;
    width: 1000px;
    box-sizing: border-box;

    /* outline: 2px dashed blueviolet; */
    margin: auto;
}

.fluid .container H1 {
    -webkit-text-stroke: 5px black;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    font-size: 150px;
    text-align: center;
    color: rgba(49, 0, 128, 0.993);
    padding: 20px;

}

.fluid-1 .container H1 {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    font-size: 150px;
    text-align: center;
    color: rgba(255, 255, 255, 0);
    padding: 20px;
}

main {
    position: relative;
}